<main role="main">
    <div class="container my-3 py-3">
        <div class="row">
            <form [formGroup]="cityAddForm" (ngSubmit)="add()" class="form-cityadd">
                <h2 class="mt-3 pt-3">City Add</h2>
                <div class="form-group">
                    <input type="text" id="name" formControlName="name" class="form-control"
                        placeholder="Enter city name">
                    <span class="help-block"
                        *ngIf="cityAddForm.get('name').hasError('required')&&cityAddForm.get('name').touched">
                        Enter a valid city name
                    </span>
                </div>
                <div class="">
                    <p-editor class="form-control" placeholder="enter a valid description" 
                        formControlName="description" [style]="{'height':'320px'}"></p-editor>
                    <span class="help-block"
                        *ngIf="cityAddForm.get('description').hasError('required')&&cityAddForm.get('description').touched">
                        Enter a valid description
                    </span>
                </div>
                <button type="submit" class=" btn btn-outline-secondary btn-block"
                    [disabled]="!cityAddForm.valid">Submit</button>
            </form>
        </div>
    </div>
</main>